
    
<link rel="stylesheet" href="/css/usuario/login.css">

    <form  method="POST" >
    <div class="box">
        <div class="row">
            <div class="col-md-12 mt-2">
                <p><strong>Nova Senha:</strong></p>
                <input type="password" class="form-control" name="senha" placeholder="Nova Senha" required>
            </div>
            <div class="col-md-12 mt-4">
            <button type="submit" id="confirm" class="btn btn-primary">Confirmar</button>
            </div>
        </div>
    </div>

</form>