<link rel="stylesheet" href="/css/usuario/registro.css">

<form method="POST">
     <div id="centralizar">
    <div id="box" class="row row-cols-1 justify-content-md-center ">
        <div class="col-md-12 ">
            <label><strong>Nome Completo:</strong></label>
            <input type="text" class="form-control" name="nome" placeholder="Nome" required>
        </div>

        <div class="col-md-12 mt-2">
            <label><strong>Matrícula:</strong></label>
            <input type="number" class="form-control" name="matricula" placeholder="Matrícula" required>
        </div>
        <div class="col-md-12 mt-2">
            <label><strong>Cargo/Função:</strong></label>
            <input type="text" class="form-control" name="cargo" placeholder="Cargo/Função" required>
        </div>
        <div class="col-md-12 mt-4">
            <button type="submit" id="confirm" class="btn btn-primary">Confirmar</button>
        </div>
    </div>
    </div>
</form>