<link rel="stylesheet" href="/css/admin/senha.css">

    <form  method="POST" action="/polouab/senha" >
        <div id="centralizar">
        <div id="box" class="row row-cols-1 justify-content-md-center ">
             <div class="col-12">
                <label><strong>Nova Senha:</strong></label>
                <input type="text" value="{{matricula}}" name="matricula" id="inv">
                <input type="password" class="form-control" name="senha" placeholder="Nova Senha" required>
            </div>
        
             <div class="col-12 mt-4">
            <button type="submit" id="confirm" class="btn btn-primary">Confirmar</button>
            </div>
        </div>
        </div>
  

</form>