#notifica{
    background-color: black;    
}
.box{
    margin-top: 50px;
    padding: 40px;
    border-radius: 50px;
    background-color: #0948a7;
    min-width: 300px;
 }

#boxFinal{
    margin-bottom: 500px;
}

#alerta{
    border-radius: 20px;
}

#boxes{
    
    padding-top: 30px;
}

 h4{
    padding-bottom: 2px;
 }

 #confirm{
    border-radius: 25px;
    font-size: 17px;
    margin-top: 21px;
  }


#calendario{
    width: 140px;
}

